@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/*abstracts */
@import "../scss/abstracts/variables";
@import "../scss/abstracts/mixins";
@import "../scss/abstracts/extend";
/* bases */
@import "../scss/bases/reset";
@import "../scss/bases/mediasQuerys";
/* layout */
@import "../scss/layout/cards";
@import "../scss/layout/header";
@import "../scss/layout/shoppingCart";
@import "../scss/layout/footer";
/* pages */
@import "../scss/pages/nosotros";
@import "../scss/pages/contacto";


/* selectores generales */
.titulo {
    @extend %titulos;
}

.titulo-principal {
    @extend %titulos;
    margin-top: -6px;
}

.all-products {
    @extend %position-objects;
}

.productos-categorias {
    @extend %position-objects;
}

.subtitulo {
    text-align: center;
}


// carrousel
.carousel-control-next {
    justify-content: end;
    width: 40px;
    color: black;
}

.carousel-control-prev {
    justify-content: end;
    width: 40px;
    color: black;
}



.image-principal {
    background-image: url(../img/image-principal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    background-position: left;
}

.eslogan {
    align-items: center;
    justify-items: center;
}

/* fin de selectores generales */


.nav-item-categorias {
    display: none;
}

.dropdown-toggle {
    text-decoration: none;
    align-items: center;
    font-size: $text;
    font-family: 'roboto', sans-serif;
    color: black;
    margin-left: 1.1rem;

    &:hover {
        color: rgb(255, 255, 255);
        display: block;
    }
}

#cart{
    align-items: center;
    justify-content: center;
    align-content: center;
}