.footer-container {
    background-color: #191919;
    padding-top: 10px;
    padding-bottom: 10px;

    .pie {
        justify-content: space-around;
        font-size: $text;
        color: #ffffff;

        .texto-footer {
            text-decoration: none;
            color: #d3d3d3;

            &:hover {
                color: $bg-productos;
}
            .redes {
                width: 40px;
                height: 40px;
                margin-right: 8px;
            }
        }
    }
}

.creditos {
    font-size: $text-second;
    text-align: center;
    color: #d3d3d3;
    margin-top: 40px;
}