%cards {
    height: 350px;
    width: 19rem;
    border-radius: 20px;
    box-shadow: $shadow;
}

%titulos {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.5rem;
    font-family: 'rubik', sans-serif;
    color: black;
    background-color: $bg-titulos;
}

%position-objects{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    justify-content: space-around;
    text-align: center;
    gap: 40px;
}