%cards {
    height: 450px;
    width: 19rem;
    border-radius: 20px;
    box-shadow: $shadow;
}

%titulos {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    font-family: 'rubik', sans-serif;
    color: black;
    background-color: $bg-titulos;
}

%position-objects{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    text-align: center;
    justify-items: center;
    gap: 30px;
}